
.Rproj.user/1B8A0921/sources/prop/E1AF92AA
.Rproj.user/1B8A0921/sources/prop/INDEX
.Rproj.user/1B8A0921/sources/s-5C945AC9/3E35883A
.Rproj.user/1B8A0921/sources/s-5C945AC9/3E35883A-contents
.Rproj.user/1B8A0921/sources/s-5C945AC9/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
BEEC_vigilance.Rproj
